*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
*.apk
*.dex